* {
  margin: 0;
  padding: 0;
}

body {
  background: #303030;
  color: #fff;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  height: 90vh;
  font-size: 200%;
}

fieldset {
  padding: 1rem;
  width: 30rem;
  margin: 5rem 0 0;
}

button {
  padding: .7rem 1.3rem;
  border-radius: 10px;
  cursor: pointer;
}

button:nth-child(2) {
  margin: 0 4rem;
}

#score {
  display: flex;
  gap: 4rem;
}

.win {
  color: lime;
}

.lost {
  color: red;
}

.tie {
  color: #fff;
}